# ====================ЧЕК ЛИСТ===================
#=====================МОИ ФАЙЛЫ И ПАПКИ НЕОБХОДИМОСТИ==========
# необходимости мои
.env.wallet
env.wallet
credentials.json
token.pickle
# по шаблону
.env*
*.env
.env.marat
__pycache__/
*.pyc
venv/
MAR.session
.env.wallet

# ===============================================
# 1. СИСТЕМНЫЕ ФАЙЛЫ И GIT (Рекомендуется для всех)
# ==========================================
# Метаданные Git (не нужны внутри контейнера)
.git
.gitignore
.gitmodules
.github/
.github/workflows
testsem.yml
main.yml

# Файлы Docker (обычно не нужны внутри образа)
Dockerfile*
docker-compose*
.dockerignore

# ==========================================
# 2. РЕДАКТОРЫ КОДА И IDE (Рекомендуется для всех)
# ==========================================
# VS Code
#.vscode/
#*.code-workspace

# JetBrains (IntelliJ, PyCharm, WebStorm и др.)
.idea/
*.iml

# Другие редакторы
#*.swp
#*.swo
#*~
#.DS_Store              # macOS
#Thumbs.db              # Windows

# ==========================================
# 3. СЕКРЕТЫ И КОНФИГУРАЦИЯ (Критично!)
# ==========================================
# Файлы с паролями и ключами (НИКОГДА не должны попадать в образ)
.env
.env.local
.env.*.local
*.pem
*.key
secrets/
credentials/

# ==========================================
# 4. ЗАВИСИМОСТИ (Выберите свой язык)
# ==========================================
# Если зависимости устанавливаются ВНУТРИ Docker (RUN npm install / pip install),
# то локальные папки нужно игнорировать, чтобы не тащить мусор в контекст.

# [ ] Node.js / npm / yarn
#node_modules/
#npm-debug.log
#yarn-error.log

# [ ] Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# [ ] PHP (Composer)
#vendor/

# [ ] Go
#go.sum
#bin/

# [ ] Java / Gradle / Maven
#build/
#target/
#*.jar
#*.war
#*.ear
#.gradle/
#.mvn/

# [ ] Ruby
#vendor/bundle/
#Gemfile.lock

# ==========================================
# 5. СБОРКА И АРТЕФАКТЫ (Выберите нужное)
# ==========================================
# Папки, куда компилируется проект (если компиляция идет внутри Docker)
#dist/
#out/
#build/
#coverage/
#*.log

# ==========================================
# 6. ТЕСТЫ И ДОКУМЕНТАЦИЯ (Опционально)
# ==========================================
# Если вы собираете PRODUCTION образ, тесты и доки часто не нужны
tests/
test/
specs/
docs/
README*
LICENSE*
*.md

# ==========================================
# 7. ВРЕМЕННЫЕ ФАЙЛЫ И ЛОГИ
# ==========================================
tmp/
temp/
logs/
*.log
logi/
logi/info
error_bot.log
info_bot.log