
# Установить pip    sudo apt update   sudo apt upgrade   sudo apt install python3-pip   pip3 --version
# pip install aiogram
# pip install google-auth
# pip install google-auth-oauthlib
# pip install google-api-python-client
# pip install python-dotenv

# pip install dashscope
# pip install huggingface_hub